In [ ]:
#Write a Python program to find the sum of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 100

lst=[10, 20, 30, 40]
Sum=0
for i in lst:
 Sum=Sum+i
print("Sum=", Sum)

Sum=  100

In [ ]:
#Write a Python program to find the multiplication of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 240000

lst= [10,20,30,40]
prod=1
for i in lst:
  prod= prod*i
print("Prod=", prod)

Prod= 240000

In [ ]:
#Write a Python program to find the largest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 2321

lst= [10,100,2321, 1,200,2]
for i in lst:
  max(lst)
print(max(lst))

2321

In [ ]:
#Write a Python program to find the smallest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 1

lst= [10,100,2321, 1,200,2]
for i in lst:
  min(lst)
print(min(lst))

1

In [ ]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2

lst= ['ab', 'abc', 'aba', 'xyz', '1991']
def match_words(lst):
  ctr=0
  for i in lst:
    if len(i) > 1 and i[0] == i[-1]:
      ctr += 1
  return ctr

print(match_words(lst))

2

In [ ]:
#Write a Python program to sort a list in ascending order using loop.
#Input:- [100,10,1,298,65,483,49876,2,80,9,9213]
#Output:- [1,2,9,10,65,80,100,298,483,9213,49876]

lst = [100,10,1,298,65,483,49876,2,80,9,9213]
  
lst.sort() 
  
print(lst)

[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [ ]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
#Input:- [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
#output:- [(9,1),(2,3),(5,4),(5,5),(7,6),(5,9)]

lst = [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
  
def last(n): 
  return n[-1]

def sort_list_last(lst):
  return sorted(lst, key=last)

print(sort_list_last(lst))

[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [ ]:
#Write a Python program to remove duplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
#Output:- [10,1,11,29,876,768,92]

lst= [10,1,11,1,29,876,768,10,11,1,92,29,876]

res=[]
for i in lst:
  if i not in res:
    res.append(i)

print((res))

[10, 1, 11, 29, 876, 768, 92]

In [ ]:
#Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty

lst= []
if not lst:
  print("list is empty")
else:
  print("list is not empty")


lst1= [10,20,30]
if not lst1:
  print("list is empty")
else:
  print("list is not empty")

list is empty
list is not empty

In [ ]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

lst= [10,10.20,10+20j, 'Python', [10,20], (10,20)]

# lst_new= lst.copy()
for elem in lst:
  lst_new=[]
  for elem in lst:
    lst_new.append(elem)
  
print("New list is: ",lst_new)

New list is:  [10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [ ]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could', 'could']
#Note:- Duplicate should be avoided.

str = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'

def new_lst(n, str):
    str1= []
    text = str.split(" ")
    
    for x in text:
      if len(x) > 3:
        if x not in str1:
          str1.append(x)
          
    return str1    
print(new_lst(3,str))

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [ ]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
#inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
#Output:- True

lst1= [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
lst2= [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']


def data(lst1, lst2):
  countdup=0
  
  for x in lst1:
    for y in lst2:
      # for z in lst1,lst2:
        if x == y:
          countdup=countdup+1
  if countdup>=3:
    print('True')
  else:
    print('False')
print(data(lst1,lst2))

True
None

In [ ]:
#Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
#Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]

# list = []
# for i in range(4):
#   list.append([i])
#   for j in range(4):
    # lst= lst+1
    # if i==0 and j==0:
    #   list[i].append([])
    # elif j ==0:
    #   list[i].append(j)
    # elif i%2:
    #   list[i].append(j)
    # elif not i%3:
    #   list[i].append(j)

[[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]], [[1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]], [[2, 2, 2, 2, 2, 2], [2, 2, 2, 2, 2, 2], [2, 2, 2, 2, 2, 2], [2, 2, 2, 2, 2, 2]]]

In [ ]:
#Write a Python program to create a 3X4X6 3D matrix wiith below elements using loop
#Output:- 
# [
#     [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]],
#     [[0,0,0,0,0,0],[1,1,1,1,1,1],[2,2,2,2,2,2],[3,3,3,3,3,3]],
#     [[0,0,0,0,0,0],[2,2,2,2,2,2],[4,4,4,4,4,4],[6,6,6,6,6,6]]
# ]

list = []

for i in range(3):
    list.append([])
  

    for j in range(4):
        list[i].append([])
        

        for k in range(6):
          if i%1==0:
            list[i][j].append(i)
          elif i%2==0:
            list[i][j].append(i)

print(list)

None

In [ ]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [21,87,45,33,1]

lst= [10,21,22,98,87,45,33,1,2,100]
lst1=[]
for i in lst:

  if ((i%2) != 0):
    lst1.append(i)
  
print(lst1)

[21, 87, 45, 33, 1]

In [ ]:
#Write a Python program which takes a list from the user and prints it after reshuffling the elements of the list.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [1,87,21,10,33,2,100,45,98,22] (It may be any randon list but with same elements)

import random
lst= [10,21,22,98,87,45,33,1,2,100]

random.shuffle(lst)

print(lst)

[1, 87, 45, 2, 22, 100, 10, 33, 98, 21]